*{font-family: 'Poppins',sans-serif;}
.image {
  background-image: url("../../assets/images/wall.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
}
.image h1 {
  margin-left: 20px;
}
.helo {
  /* background-color: red; */
  /* margin-left: 310px; */
  width: 400px;
  padding: 30px;
  display: block;
  margin: auto;
}
.helo h1 {
  padding: 50px;
  margin-left: -50px;
}
.helo p {
  margin-top: -50px;
  padding: 5px;
}
label {
  display: block;
  /* margin-bottom: 5px; */
  margin-left: 10px;
  margin-top: 0px;
}
input[type="password"],
input[type="email"],
select {
  /* height: 20px;
  padding: 5px;
  border-radius: 1px;
  border: px solid #ccc;
  margin-bottom: 10px;
  border-bottom-width: 0.2;
  margin-left: 30px;
  padding: 20px;
  outline: none; */

  border: none;
  background-color: none;
  outline: 0;
  font-size: 25px;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #000000;
  margin-left: -40px;
  margin: 10px;
  position: relative;
}
input::placeholder {
  color: black;
  font-size: 10px;
}

/* .input{
    position: relative;
} */

button {
  padding: 10px;
  border-radius: 60px;
  width: 100%;
  background-color: #ff432a;
  margin-top: 20px;
}
span {
  color: red;
}

@media only screen and (max-width: 900px) {
  .helo {
    width: 100%;
    margin-top: -200%;
    background: rgba(168, 168, 168, 0.8);
    /* margin:  12px; */
    /* position: absolute;
    top: 0%; */
  }

  input[type="password"],
  input[type="email"],
  select {
    border: none;
    background-color: none;
    outline: 0;
    font-size: 25px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #000000;
    margin-left: -40px;
    margin: 10px;
    position: relative;
    background: rgba(245, 40, 145, 0.14);
  }
}
