<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="image">
        <h1>Your Logo</h1>
      </div>
    </div>

    <div class="col-md-4">
      <div class="helo">
        <h1>Sign up</h1>
        <p>If you already have an account register</p>
        <br />
        <p>You can <span> Login Here !</span></p>

        
          <label>Email</label>

          <input type="email" placeholder="Enter your email address" />
        
          <label>Username</label>
          <input type="email" placeholder="Enter your User name" />
        
        <label>Password</label>
        <input type="password" placeholder="Enter your Password" />

        <label>Confrim Password</label>
        <input type="password" placeholder="Confrim your Password" />

        <button class="btn btn-danger">register</button>
      </div>
    </div>
  </div>
</div>
